{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Services
{% endblock %}

{% block body %}
    
  <img src="{{ asset('bundles/osoosoweb/images/shadow-bar-centerbg.png') }}"/><br/>
 <h2><span class="lef"></span><span class="righ"></span><strong></strong>SERVICES  </h2> <br/>     
    <!--<div id='column4'><div style='width:1190px;'>
    
							
									
									<div class='box'><div class="wrapper1"><p><span class="font1">Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </span><br>
										Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.<br/> 
                                                                      Maecenas ster tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan males uada orci.<br/>
                                                                      Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ferm.</p>
									</div>                                                               
                                                                         <div id='column1' align="left" >  
                                                                          </div> -->
                                    
										<!--<div class="col1">
											
												<figure class="left marg_right1"><img src="{{ asset('bundles/osoosoweb/images/page4_img1.png') }}" alt=""></figure>
												<p class="pad_bot1"><a href="#!/page_more" class="font1 link1"><span></span>Production Maintenance.</a><br>
														Fusce feugiat malesuada odioe.<br/> 
                                                                                                  Morbi nunc odio, gravid/</p>
											
											
												<figure class="left marg_right1"><img src="{{ asset('bundles/osoosoweb/images/page4_img3.png') }}" alt=""></figure>
												<p class="pad_bot1"><a href="#!/page_more" class="font1 link1"><span></span>Etudes et D&eacuteveloppement.</a><br>
                                                                                                  Ferugiat malesuada odioe.<br/> 
                                                                                                  Morbi nunc odio, gravid sterse/</p>
											
											
												<figure class="left marg_right1"><img src="{{ asset('bundles/osoosoweb/images/page4_img1.png') }}" alt=""></figure>
												<p class="pad_bot1"><a href="#!/page_more" class="font1 link1"><span></span>Syst&egravemes et R&eacuteseaux.</a><br>
														Ferugiat malesuada odioe.<br/> 
        													Morbi nunc odio, gravid sterse/</p>
                                                                                                
                                                                                                
                <figure class="left marg_right1"><img src="{{ asset('bundles/osoosoweb/images/page4_img3.png') }}" alt=""></figure>
		<p class="pad_bot1"><a href="#!/page_more" class="font1 link1"><span></span>Syst&egravemes et R&eacuteseaux.</a><br>
				Ferugiat malesuada odioe.<br/> 
        			Morbi nunc odio, gravid sterse/</p>
		</div>	</div> 
										 
          <iframe id="myIframe" 
           frameborder="1" 
           scrolling="no"
           src="{{ asset('bundles/osoosoweb/flash/radar.swf') }}">
          </iframe> 
         
          <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="690" height="500" title="rs">
          <param name="movie" value="accordion.swf" />
          <param name="quality" value="high" />
	  <param name="wmode" value="transparent" />
          <embed src="{{ asset('bundles/osoosoweb/flash/radar.swf') }}" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="690" height="500"></embed>
          </object>-->
	                                                                              
                                                                                
										 <!--<div class="col2 pad_left1">
											href="{{ ('http://localhost/PhpProject1/src/Oso/OsoWebBundle/Resources/public/flex/bin/index.html') }}"
												<figure class="left marg_right1"><img src="images/page4_img4.png" alt=""></figure>
												<p class="pad_bot1"><a href="#!/page_more" class="font1 link1"><span></span> Exploitation .</a><br>
														Fusce feugiat malesuada odioe. Morbi nunc odio, gravid/</p>
											
											
												<figure class="left marg_right1"><img src="images/page4_img5.png" alt=""></figure>
												<p><a href="#!/page_more" class="font1 link1"><span></span>XXXXXXXXXXXXXXXXXXXXX.</a><br>
														Fusce feugiat malesuada odioe. Morbi nunc odio, gravid/</p>
											
										</div> </div> 
           </div></div> --> 
	  <iframe id="myIframe"  
           frameborder="1" 
           scrolling="no"
           src="{{ asset('bundles/osoosoweb/SiteJavaScript0/index.html') }}">
          </iframe> 	 					
							
                                                                        

     
<img src="{{ asset('bundles/osoosoweb/images/shadow-bar-centerbg.png') }}"/>
{% block footer %}{% endblock %}
{% endblock %}


{% block stylesheets %}
<!---->    <link rel="stylesheet" href="{{ asset('bundles/osoosoweb/css/osoweb.css') }}" type="text/css" />
     <link rel="stylesheet" href="{{ asset('bundles/osoosoweb/css/shadowbox.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/osoosoweb/css/reset.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bundles/osoosoweb/css/grid.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bundles/osoosoweb/css/jquery.fancybox-1.3.4.css') }}" type="text/css" media="screen"/>   
    <link rel="stylesheet" href="{{ asset('bundles/osoosoweb/css/style.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bundles/osoosoweb/css/colorbox.css') }}" type="text/css" />
    <link rel='stylesheet' href="{{ asset('http://fonts.googleapis.com/css?family=Oswald') }}" type='text/css'/>
<!-- Design for nicer paging -->
	<style type="text/css">
	  div#column4 {
	  /*margin: 0 165px 0 0;*/
          }
	   iframe#myIframe {
	  height: 800px;width: 1190px; float: none; margin: 0 0 0 10px;
	  }
           div#column1 {
	  height: 530px;margin: 10px 0;
	  }    
                     div.wrapper1{
          width: 572px; float: left;
          }
          div.wrapper2{
          width: 572px; float: right;
          }
	</style>
{% endblock %}


{% block javascripts %} 
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/jquery-1.6.js') }}" ></script>
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/jquery-ui-1.8.11.custom.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/scroll.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/script.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/jquery.easing.1.3.js') }}"></script>  
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/jquery.fancybox-1.3.4.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/superfish.js') }}"></script> 
    
 <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/content_switch.js') }}"></script> 
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/jquery.mousewheel.js') }}"></script> 
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/cScroll.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/jquery-1.4.2.min.js') }}"></script> 
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/swfobject.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/shadowbox.js') }}"></script>
 <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/cufon-yui.js') }}"></script> 
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/cufon-replace.js') }}"></script> 
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/Bebas_400.font.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/osoosoweb/js/bgStretch.js') }}"></script>
  <script type="text/javascript"> Cufon.now(); </script>
       <script src="{{ asset('http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js') }}" type="text/javascript"></script> 

         <script src="http://code.jquery.com/jquery-latest.js"></script>
         <script>
		$('.site-nav a:first').click(function () {
		if ($("div#connexion:first").is(":hidden")) {
		$("div#connexion").slideDown("slow");
		} else {
		$("div#connexion").hide();
		}
		});
	 </script>

      
         
         <script language="javascript">
      		var canvas = document.getElementById('tuto');
     	       var ctx = canvas.getContext('2d');

              //Ajout de plusieurs courbes
		var numberOfLines = 5;
		var i = 0;
		var cycle = function() {
		ctx.clearRect(0,0,canvas.width,canvas.height);
		for(var j=0; j<numberOfLines; ++j) {
		var offset = (i+j*10)/20;
		ctx.lineWidth = 1+2*(numberOfLines-j); // épaisseur variable en fonction de la ligne
		ctx.strokeStyle = 'rgba(80,150,240,'+(j/5+0.1)+')'; // opacité variable en fonction de la ligne
		var y = (Math.sin(offset)+1)*canvas.height/2;
		var cpy1 = (Math.cos(offset)+0.5)*canvas.height;
		var cpy2 = canvas.height - cpy1;
		ctx.beginPath();
		ctx.moveTo(0, y);
		ctx.bezierCurveTo(canvas.width/3, cpy1, 2*canvas.width/3, cpy2, canvas.width, y);
		ctx.stroke();
		}
		i++;
		};
		setInterval(cycle, 30);
        </script>

 <script type="text/javascript">
 
   var params = {wmode:"transparent", scale:"noscale", quality:"high"};
   //var so = document.getElementById("fl");SWFObject
   swfobject.embedSWF("{{ asset('bundles/osoosoweb/flash/serv.swf') }}", "flash3", "70", "50", "9.0.0", null, null, params);
   //so.addParam('wmode', 'transparent');
   //so.write("flash1");
 
</script>
{% endblock %}
